<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="img/x-ico" rel="icon" href="images/logo.ico">
    <title>杭州鼎基管理咨询有限公司</title>
    <meta name="keywords" content="关键词,关键词">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
<p>哈哈</p>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

</script>
</body>
</html>
