<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="img/x-ico" rel="icon" href="images/logo.ico">
    <title>SKT</title>
    <meta name="keywords" content="关键词,关键词">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{margin:10px;}
        .box{width:500px;height:256px;border:1px solid #000;}/*246*/
        p{margin:0 0 7px;}
        span{display:block;width:100px;height:5px;margin-left:60px;border-bottom:1px solid #000;}
    </style>
</head>
<body>
    <div class="box">
        <p>产品标识卡</p>
        <p>编码<span style="display: inline-block;margin-left:10px"></span>供应商<span style="display: inline-block;margin-left:10px"></span></p>
        <p>名称</p>
        <span></span>
        <p>规格</p>
        <span></span>
        <p>数量</p>
        <span></span>
        <p>跟踪号</p>
        <span></span>
        <p>来源订单</p>
        <span></span>
        <p>仓管员</p>
        <span></span>
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

</script>
</body>
</html>
